<br><br><br><br>
<div class="container">
  <div class="section">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3  class="text-center">Възстанови паролата си</h3>

        <p class="text-center">Въведете имейла си, с който да ъвзстановите паролата.</p>
        <br>
        <div class="formGroup text-center">
          <input type="email" class="formControl" placeholder="Email" #passwordResetEmail required>
        </div>
        <br>
        <!-- Calling ForgotPassword from AuthService Api -->
        <div class="formGroup text-center">
          <input type="submit" class="btn  btnPrimary" value="Reset Password"
            (click)="authService.forgotPassword(passwordResetEmail.value)">
        </div>
      </div>
      <br>
      <div class="redirectToLogin text-center">
        <span>Върни се към <span class="redirect" routerLink="/sign-in">Вход</span></span>
      </div>

    </div>
  </div>
</div>