agm-map {
    height: 560px;
  }

.businesses-container {
    border: 1px;
}

/* Styles for tab labels */

.mat-tab-label {
    min-width: 25px !important;
    padding: 5px;
    background-color: transparent;
    color: gold;
    font-weight: 700;
}

.mat-card {
    background-color: rgb(195 211 221 / 17%);
    padding: 5%;
    margin: 1%;
}

.mat-card-content {
    color: lightgray;
    max-height: 150px;
    margin-left: 2%;
    margin-top: 3%;
}

.tab-row {
    max-height: 230px;
}

mat-card {
    max-height: 230px;
    font-family: 'Magilio', serif !important;
}

.mat-card-title {
    color: lightgray;
}

/* Styles for the active tab label */

.mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: rgb(107, 115, 122);
    color: rgb(245, 241, 241);
    font-weight: 700;
}

/* Styles for the ink bar */

.mat-ink-bar {
    background-color: rgb(229, 241, 229);
}

/* styles for business card */
.business-card-grid {
    display: grid;
    align-items: center;
    grid-column-gap: 80px;
    grid-row-gap: 30px;
    grid-template-areas: ". . .";
    grid-template-columns: 0.6fr 2fr 1fr;
    grid-template-rows: auto;
}

/* dashboard container */
.tab-container-dashboard {
    margin-bottom: 7rem;
}

/* social media icon styles */
.social-media-icons {
}

.social-media-icon {
    max-height: 85px
}

.celebrity-card-container {
    position: relative;
    width: 30%;
    padding: 2%
}

.celebrity-card-avatar {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.celebrity-card-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.celebrity-card-container:hover .celebrity-card-avatar {
    opacity: 0.3;
}

.celebrity-card-container:hover .celebrity-card-middle {
    opacity: 1;
}

.celebrity-card-text {
    background-color: #cfcfcf;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

.celebrity-grid {
    width: 100%
}
