<br><br><br><br><br><br>
<div class="section section-watermark-left">
  <div class="container" *ngIf="userData as user">
    <div class="profile-page-header ds-top">
      <div class="avatar-holder" id="profile-picture">
        <img src="{{user.profilePicURL}}" alt="">
      </div>
      <div class="personal-data-header">
        <div class="row" *ngIf="isCelebrity">
          <h1>{{user.firstName}} {{user.lastName}} </h1>

        </div>
        <div class="row" *ngIf="isBusiness">
          <h1>{{user.name}} </h1>

        </div>

        <div class="row" *ngIf="isMyProfile">
          <input type="button" (click)="openUserProfileEditDialog()" class="button cc-edit-profile w-inline-block"
            style=" float: left; margin-left: 0;" value="Редактирай">

          <input type="button" (click)="openUpdateProfilePictureDialog()" class="button cc-edit-profile w-inline-block"
            style=" float: left;" value="Смени снимка">
        </div>

        <div class="row">
          <mat-chip-list aria-label="категории">
            <mat-chip *ngFor="let category of user.categories">{{category}}</mat-chip>
          </mat-chip-list>
        </div>

      </div>
      
      <div>
        <div class="row">
          <div class="col-md-9" *ngIf="isCelebrity">
            <p >{{user.bio !== '' ? user.bio : "Натисни 'Редактирай' за да добавиш био."}}</p>
          </div>
          <div class="col-md-9" *ngIf="isBusiness">
            <p >{{user.description !== '' ? user.description : "Натисни 'Редактирай' за да добавиш био."}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
            <span *ngFor="let tag of user.hashtags">#{{tag}} </span>
          </div>
        </div>
      </div>
      <div></div>
      <div>
        <div class="row social-media-row">
          <div class="col-md-1">
            <img class="social-media-icon" src="../../../assets/icons/social/github-xxl.png">
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-5"> {{user.instagramHandle}}</div>
        </div>
        <div class="row social-media-row">
          <div class="col-md-1">
            <img class="social-media-icon" src="../../../assets/icons/social/email-14-xxl.png">
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-5">
            <a href="{{user.facebookURL}}">Profile</a>

          </div>
        </div>

        <div class="row social-media-row">
          <div class="col-md-1">
            <img class="social-media-icon" src="../../../assets/icons/social/email-14-xxl.png">
          </div>
          <div class="col-md-1">&nbsp;</div>
          <div class="col-md-5"> {{user.twitterHandle}}</div>

        </div>
      </div>
      <div></div>
      <div *ngIf="isBusiness">
        <div class="row">
          <span *ngIf="isMyProfile">Use the marker on the map to enter your address</span>
          <!-- <div class="col-md-2">
            <label for="" class="edit-label"> Вашият адрес: </label>
          </div>
          <div class="col-md-1"> &nbsp;</div> -->
          <!-- <div class="form-group">
            <input type="text" value={{address}} class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Намерете своят адрес" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
          </div>
          <div class="col-md-5">
            <input type="text"  class="formControl
            signup-field   userData"  value="{{user.address}}">
          </div> -->
        </div>
        <div class="maprouter row">
          <div class="gmap_canvas_profile">
            <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="15" >
              <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="true"
                (dragEnd)="markerDragEnd($event)"></agm-marker>
            </agm-map><br>
            <style>
              .maprouter {
                position: relative;
                text-align: right;
                height: auto;
                width: auto
              }
            </style>
            <style>
              .gmap_canvas_profile {
                overflow: hidden;
                background: none !important;
                height: 30rem;
                width: auto;
              }
            </style>
          </div>
        </div>
        <div>
          <h5>Address: {{this.userData.address}}</h5>

        </div>
        <div class="row" *ngIf="isMyProfile">
          <input type="button" (click)="storeAddress()" class="button cc-edit-profile w-inline-block"
            style=" float: left; margin-left: 0;" value="Запази">
        </div>
      </div>
    </div>
  </div>
</div>
