<br><br><br><br>
<div class="header-image">
  <img src="../../../assets/images/about-1.png" alt="">
</div>
<br>
<div class="section">
  <div class="container">
    <div class="motto-wrap">
      <div class="label cc-light">Who am I?</div>
      <div class="heading-jumbo-small">I make stuff<br></div>
    </div>
    <div class="divider"></div>
    <div class="home-content-wrap">
      <div class="w-layout-grid about-grid">
        <div id="w-node-_86e64837-0616-515b-4568-76c147234d34-c92c3fea">
          <div class="home-section-wrap ">
            <div class="label">За нас</div>
            <h2 class="section-heading"></h2>
            <p>
              Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
              impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
              repellendus. 
            </p>
          </div>
          <a (click)="showMore(true)" class="button see-more-button">
            <div>See more</div>
          </a>
        </div>
      </div>
      <div class="w-layout-grid about-grid cc-about-3" *ngIf="showMoreValue">
        <div>
          <div class="home-section-wrap">
            <div class="label cc-light">Some more stuff</div>
            <h2 class="section-heading"></h2>
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
              atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique
              sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum
              facilis est et expedita distinctio.
            </p>
            <p>
              Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
              impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
              repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut
              et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente
              delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores
              repellat.
            </p>
          </div>
          <a (click)="showMore(false)" class="button w-inline-block">
            <div>Close</div>
          </a>
        </div>

      </div>
      <div class="w-layout-grid about-grid cc-about-2">
        <div id="w-node-_86e64837-0616-515b-4568-76c147234d41-c92c3fea">
          <div class="home-section-wrap">
            <div class="label cc-light">Събития</div>
            <h2 class="section-heading">Lorem Ipsum</h2>
            <p>
              Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
              impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor
              repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut
              et voluptates repudiandae sint et molestiae non recusandae. 
            </p>
          </div>
          <!-- <a routerLink="/events" class="button w-inline-block">
            <div>Learn More</div>
          </a> -->
        </div><img src="../../../assets/images/HM-Met-Gala-4-e1525815734888.jpg" alt="">
      </div>


    </div>
  </div>
</div>

<div class="section cc-cta">
  <div class="container">
    <div class="cta-wrap">
      <div class="row">
        <div class="cta-text">
          <div class="heading-jumbo-small" style="color: black">Join us<br></div>
          <div class="paragraph-bigger cc-bigger-light">Become a member today.<br></div>
        </div>

        <a routerLink="/membership" class="button cc-jumbo-button w-inline-block">
          <div>Свържи се с представител</div>
        </a>
      </div>


    </div>
    <!-- For now we cannot use this, as we need a more sustainable solution for RSS feeds
      <div class="row">
      <iframe width="360" height="440" src="https://rss.app/embed/v1/carousel/XinrIe2AFfxZgnJ0"
        frameborder="0"></iframe>

    </div> -->
  </div>
</div>