<br><br><br><br>
<div class="header-image">
  <img src="../../../assets/images/club-header (1).jpg" alt="">
</div>
<br>
<div class="section">
  <div class="container">
    <div class="motto-wrap">
      <div class="label cc-light">Membership</div>
      <div class="heading-jumbo-small"> Join the club!</div>
    </div>
    <div class="divider"></div>

    <div class="w-layout-grid about-grid cc-about-3">
      <div>
        <div class="home-section-wrap">
          <div class="label cc-light"></div>
          <h2 class="section-heading">Lorem Ipsum</h2>
          <p>
            Lorem ipsum dolor sit amet, vix liber dolorem at, dicant offendit cotidieque et mea. Cum ad sint verear,
            mentitum ocurreret comprehensam id eos. Nulla appareat urbanitas per an. Nominati repudiandae vim ea, eum
            eirmod platonem forensibus no. Qui ei odio posse nostrud.
          </p>
          <p>
            Lorem ipsum dolor sit amet, vix liber dolorem at, dicant offendit cotidieque et mea. Cum ad sint verear,
            mentitum ocurreret comprehensam id eos. Nulla appareat urbanitas per an. Nominati repudiandae vim ea, eum
            eirmod platonem forensibus no. Qui ei odio posse nostrud.
          </p>
        </div>

      </div>

    </div>
    <div class="divider"></div>
    <br>
    <br>
    <div class="membership-form">
      <h2>Запитване за членство</h2>
      <br>
      <form id="membership-form" [formGroup]="formData" (ngSubmit)="sendMembershipRequest(formData.value)"
        class="memberstack-form" class="authBlock">
        <div class="field-row">
          <div class="field-wrapper first-name-wrapper formGroup">
            <label for="node" class="signup-label">Име на заявителя</label>
            <input type="text" maxlength="256" formControlName="requesterName" class="membership-field" #requesterName
              required>
          </div>
          <div class="field-wrapper">
            <label for="node" class="signup-label">Име на компанията</label>
            <input type="text" maxlength="356" formControlName="companyName" class="membership-field" #companyName
              required>
          </div>
        </div>
        <div class="field-wrapper">
          <label for="node" class="signup-label">Email</label>
          <input type="email" maxlength="256" formControlName="email" class="membership-field" #requesterEmail required>

        </div>

        <div class="field-wrapper">
          <label for="Password-3" class="signup-label">Информация за бизнеса</label>
          <textarea name="businessInfo" name="businessInfo" formControlName="companyInformation"
            data-name="businessInfo" id="businessInfo" #businessInfo cols="118" rows="5"></textarea>
        </div>
        <button type="submit" class="button w-inline-block">
          <div>Подай запитване</div>
        </button>

      </form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <div class="w-layout-grid about-grid cc-about-2">
      <div id="w-node-_86e64837-0616-515b-4568-76c147234d41-c92c3fea">
        <div class="home-section-wrap">
          <div class="label cc-light">services</div>
          <h2 class="section-heading">Our Services</h2>
          <p>
            Lorem ipsum dolor sit amet, vix liber dolorem at, dicant offendit cotidieque et mea. Cum ad sint verear,
            mentitum ocurreret comprehensam id eos. Nulla appareat urbanitas per an. Nominati repudiandae vim ea, eum
            eirmod platonem forensibus no. Qui ei odio posse nostrud.

          </p>
        </div>
        <!-- <a routerLink="/events" class="button w-inline-block">
          <div>Виж повече</div>
        </a> -->
      </div><img src="../../../assets/images/services.png" alt="">
    </div>
  </div>
</div>